<tr class="small-padding">
	<% if device.device_type.downcase == "gate" %>
		<td><%= button_to "Open", on_device_path(device), method: "post", class: "button is-primary is-light is-outlined is-fullwidth" %></td>
		<td><%= button_to device.device_name, device_path(device), method: "get", class: "button is-primary shadowed is-fullwidth" %></td>
		<td><%= button_to "Close", off_device_path(device), method: "post", class: "button is-danger is-light is-outlined is-fullwidth" %></td>


	<% elsif device.device_type.downcase == "light" %>
		<td><%= button_to "Turn on", on_device_path(device), method: "post", class: "button is-primary is-light is-outlined is-fullwidth" %></td>
		<td><%= button_to device.device_name, device_path(device), method: "get", class: "button is-info shadowed is-fullwidth" %></td>
		<td><%= button_to "Turn off", off_device_path(device), method: "post", class: "button is-danger is-light is-outlined is-fullwidth" %></td>


	<% elsif device.device_type.downcase == "camera" %>
		<td><%= button_to "Capture", capture_device_path(device), method: "post", class: "button is-warning is-outlined is-light is-fullwidth" %></td>
		<td><%= button_to device.device_name, device_path(device), method: "get", class: "button shadowed is-link is-fullwidth" %></td>
		<td></td>


	<% else %>
		<td><%= button_to "Cmd On", on_device_path(device), method: "post", class: "button is-success is-outlined is-light is-fullwidth" %></td>
		<td><%= button_to device.device_name, device_path(device), method: "get", class: "button shadowed is-primary is-fullwidth" %></td>
		<td><%= button_to "Cmd Off", off_device_path(device), method: "post", class: "button is-danger is-outlined is-light is-fullwidth" %></td>
	<% end %>

</tr>