<% if device != nil %>
  <tr class="small-padding">
    <td>
      <% if device.device_type.downcase != "alarm" %>
        <%= link_to device.device_name, device_path(device), class: "button is-#{color} shadowed is-wider" %>
      <% elsif device.device_type.downcase == "alarm" %>
        <%= link_to device.device_name, device_path(device), class: "button is-warning shadowed is-wider" %>
      <% end %>
    </td>

    <td>
      <div class="buttons is-centered">
        <% if device.device_type.downcase != "camera" %>
          <%= button_to t(".open"), on_device_path(device), method: "post", data: {confirm: t(".sure", device_name: device.device_name) }, class: "button is-primary is-light is-outlined" %>
        <% end %>
      </div>
    </td>

    <td>
      <div class="buttons is-centered">
        <% if device.device_type.downcase != "camera" %>
          <%= button_to t(".close"), off_device_path(device), method: "post", data: {confirm: t(".sure_off", device_name: device.device_name) }, class: "button is-danger is-light is-outlined" %>
        <% elsif device.device_type.downcase == "camera" %>
          <%= button_to t(".capture"), capture_device_path(device), method: "post", class: "button is-warning is-outlined is-light" %>
        <% end %>
      </div>
    </td>

  </tr>
<% end %>
