<%= form_with model: @device, local: true do |form| %>
  <%= render 'devise/shared/error_messages', resource: @device %>
  <div class="field">
    <%= form.label :device_name, class: "label required-field" %>
    <%= form.text_field :device_name, autofocus: true, autocomplete: "", class: "input is-info", type: "text", placeholder: "Gate: Garage 1 (Required)" %>
  </div>
  <div class="field">
    <%= form.label :device_type, class: "label" %>
    <%= form.text_field :device_type, autocomplete: "", class: "input is-info", type: "text", placeholder: "Gate / Camera / Light / Alarm / etc." %>
  </div>
  <div class="field">
    <%= form.label :device_location, class: "label" %>
    <%= form.text_field :device_location, autocomplete: "", class: "input is-info", type: "text", placeholder: "Garage 1" %>
  </div>
  <div class="field">
    <%= form.label :on_command, class: "label" %>
    <%= form.text_field :on_command, autocomplete: "", class: "input is-info", type: "text", placeholder: "ssh pi@192.168.1.1 python3 ~/path/to/your/device/script/folder/on.py" %>
  </div>
  <div class="field">
    <%= form.label :off_command, class: "label" %>
    <%= form.text_field :off_command, autocomplete: "", class: "input is-info", type: "text", placeholder: "sh ~/path/to/your/device/script/off.sh" %>
  </div>
  <div class="field">
    <%= form.label :device_order, class: "label" %>
    <%= form.text_field :device_order, autocomplete: "", class: "input is-info", type: "integer", placeholder: "0" %>
  </div>
  <div class="actions">
    <%= link_to 'Back', devices_path, method: "get", class: "button is-dark", data: { confirm: "Will not save information." } %>
    <%= form.submit yield(:button_text), class: "button is-link is-pulled-right" %>
  </div>
<% end %>
