<%= form_with model: @device, local: true do |form| %>
  <div class="field">
    <%= form.label :device_name %><br>
    <%= form.text_field :device_name, autofocus: true, autocomplete: "", class: "input is-info", type: "text", placeholder: "Gate: Garage 1" %>
  </div>
 
  <div class="field">
    <%= form.label :device_type %>
    <%= form.text_field :device_type, autofocus: true, autocomplete: "", class: "input is-info", type: "text", placeholder: "Gate / Camera / Light" %>
  </div>
 
 	<div class="field">
    <%= form.label :device_location %>
    <%= form.text_field :device_location, autofocus: true, autocomplete: "", class: "input is-info", type: "text", placeholder: "Garage 1" %>
  </div>

  <div class="field">
    <%= form.label :on_command %>
    <%= form.text_field :on_command, autofocus: true, autocomplete: "", class: "input is-info", type: "text", placeholder: "python3 ~/on_script.py" %>
  </div>

  <div class="field">
    <%= form.label :off_command %>
    <%= form.text_field :off_command, autofocus: true, autocomplete: "", class: "input is-info", type: "text", placeholder: "python3 ~/off_script.py" %>
  </div>

  <div class="actions">
    <%= form.submit yield(:button_text), class: "button is-link" %>
  </div>
<% end %>