<% provide(:page_title, "Control Center") %>
<% provide(:nav_title, "Control Center") %>
<section class="section">
  <div class="container">
    <%= render 'head_nav' %>
    <article class="message is-success">
      <div class="message-body">
        Add and control all your devices here.
      </div>
    </article>
    <% unless @photo_name.empty? %>
      <div class="box">
        <div class="title is-4 has-text-centered"><%= @photo_name %></div>
        <figure class="image is4by3">
          <%= image_tag("/assets/images/captured.jpg?#{Time.now.to_f}") %>
        </figure>
      </div>
    <% end %>
    <div class="table-container">
      <table class="table is-striped is-fullwidth">
        <tbody>
          <% @devices.each_slice(4) do |four_devices| %>
            <% four_devices.each_with_index do |device, index| %>
              <% if index % 4 <= 1 %>
                <%= render 'device_item', device: device, color: 'info' %>
              <% else %>
                <%= render 'device_item', device: device, color: 'primary' %>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="buttons is-right">
      <%= link_to 'Add New Device', new_device_path, method: "get", class: "button shadowed is-link" %>
    </div>
  </div>
</section>
