<% provide(:page_title, @device.device_name) %>
<% provide(:nav_title, @device.device_name) %>
<section class="section">
	<div class="container">
		<%= render 'head_nav' %>

		<div class="box">
			<div class="table-container">
				<table class="table is-striped is-fullwidth">
					<tbody>
						<tr>
							<th>Name</th>
							<td><%= @device.device_name %></td>
						</tr>
						<tr>
							<th>Type</th>
							<td><%= @device.device_type %></td>
						</tr>
						<tr>
							<th>Location</th>
							<td><%= @device.device_location %></td>
						</tr>
						<tr>
							<th>On command</th>
							<td><%= @device.on_command %></td>
						</tr>
						<tr>
							<th>Off command</th>
							<td><%= @device.off_command %></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		<br />
		<% if @device.device_type.downcase != "camera" %>
			<div class="buttons is-right">
			  <%= button_to "On", on_device_path, method: "post", class: "button is-success is-large" %>
			  <%= button_to "Off", off_device_path, method: "post", class: "button is-warning is-large" %>
			</div>
		<% end %>

		<% if @device.device_type.downcase == "camera" %>
			<div class="buttons is-right">
				<%= button_to "Capture", capture_device_path, method: "post", class: "button is-warning is-large" %>
				<%= button_to "Show", camera_photo_device_path, method: "get", class: "button is-light is-large" %>
			</div>
		<% end %>
		
	</div>
</section>